h1 {font-size: 35px;
    background-color:#ffdcde;
    text-align: center;
    width: max-content;
    margin: auto;
    padding: 3%;
    border-radius: 5px;
}

body {
    margin-left: 50px;
    background-color: #ffd2da;
    border: 5px solid #ffdcde;
    padding: 30px;
}

h3 {
    background-color: #ffdcde;
    text-align:left;
    width: max-content;
    padding: 2%;
    border-radius: 5px;
}